

.container {
    padding: 50px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
}

.product-card {
    width: calc(20% - 20px); 
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.list{
    text-align: center;
    align-items: center;
}

.product-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #333;
}

.product-image-container {
    height: 200px;
    overflow: hidden;
}

.product-image {
    width: 200px;
    height: auto;
    transition: transform 0.5s ease;
    border-radius: 15px;
}

.product-image:hover {
    transform: scale(1.1); 
}

.product-details {
    padding: 10px;
}

.product-name {
    margin-bottom: 5px;
    font-size: 16px;
}

.product-desc {
    margin-bottom: 5px;
    font-size: 14px;
}

.product-price {
    font-size: 18px;
    font-weight: bold;
    color: #007bff;
}

.product-actions {
    padding: 10px;
}

.buy-now-btn {
    background-color:black;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buy-now-btn:hover {
    background-color: #0056b3;
}

.cart-btn {
    background-color:green;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.cart-btn:hover{
    background-color: tomato;
}
.product-actions {
    display: flex;
    justify-content: space-between; 
    padding: 10px;
}

.buy-now-btn,
.cart-btn {
    flex: 1;
    margin-right: 5px;
}
.buy-now-btn,
.cart-btn {
   
    border: none;
    border-radius: 5px;
    padding: 10px 2px; /* Increase padding to adjust height */
    cursor: pointer;
    transition: background-color 0.3s ease;
    line-height: 1; /* Ensure consistent button height */
}
